:root {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    background-color: lightgray;
    position: relative;
}

#maze {
    display: flex;
    height: 300px;
    width: 420px;
    flex-direction: column;
    background-color: gray;
    position: absolute;
}

.block {
    flex-grow: 1;
    height: 20px;
    width: 20px;
    display: flex;
    position: relative;
}

.row {
    display: flex;
    flex-grow: 1;
}

.block.wall {
    background-color: orange;
}

.block.start {
    background-color:white;
}

.block.finish {
    background-color: red;
}

#player {
    background-color: blue;
    flex-grow: 1;
    position: relative;
    border-radius: 50%;
}

#blue {
    color: blue;
}
#red {
    color: red;
}

#winner {
    position: relative;
    top: 160px;
    left: 420px;
}